<!-- education -->
<div class="mt-2" id="education">
   <h3 style="margin: 0 20px;">Education</h3>
   <div class="d-flex flex-row justify-content-between mt-1">
      <div class="card edu-box mb-3">
         <div class="card-body">
            <h5 class="card-title">St.Brigid's College</h5>
            <p class="card-subtitle mb-2">2009 - 2016</p>
            <h6 class="card-text">A-level: Applied ICT (A), Double-Award Science(AA)</h6>
            <h6 class="card-text">Nine GCSE's A-B</h6>
         </div>
      </div>
      <div class="card edu-box mb-3">
         <div class="card-body">
            <h5 class="card-title">Liverpool John Moore's University</h5>
            <p class="card-subtitle mb-2">2016 - 2019</p>
            <h6 class="card-text">Department of Computer Science</h6>
            <h6 class="card-text">BSc in Computer Science</h6>
            <h6 class="card-text">First Class Honours</h6>
         </div>
      </div>
      <div class="card edu-box mb-3">
         <div class="card-body">
            <h5 class="card-title">Web Developer Bootcamp</h5>
            <p class="card-subtitle mb-2">2021</p>
            <h6 class="card-text">Udemy, Online Course</h6>
         </div>
      </div>
   </div>
</div>