<!-- education -->
<div>
   <h1>Education</h1>
   <div>
      <h3>2009 - 2016</h3>
      <h4>St. Brigid's College</h4>
      <h4>A-level: Applied ICT (A), Double-Award Science(AA)</h4>
      <h4>Nine GCSE's A-B</h4>
   </div>
   <div>
      <h3>2016 - 2019</h3>
      <h4>Liverpool John Moore's University</h4>
      <h4>Department of Computer Science</h4>
      <h4>BSc in Computer Science</h4>
      <h4>First Class Honours</h4>
   </div>
   <div>
      <h3>2021</h3>
      <h3>Udemy, Online Course</h3>
      <h3>Web Developer Bootcamp</h3>
   </div>      
</div>