<!-- intro -->
<div id="intro" class="mt-2" style="margin: 0 auto;">
   <div>
      <div>
         <div class="intro-box">
            <h3>intro</h3>
            <div class="d-flex flex-row">
               <div style="width: 60%;">
                  <p>
                     I'm a recent graduate in Computer Science eager to get my career started in a graduate role, and
                     hopefully add my creativity and work ethic in helping companies strive forward within their business sector.
                  </p>
                  <p>
                     I'm proficient in the use of HTML5, CSS, and JavaScript. Also, I have taken an online course in web development to keep improving and remain updated on any changes. I'm striving to continue learning within these
                     languages and expand my knowledge set. I believe I can provide creative and innovative ideas on creating and
                     implementing responsive and well-structured webpages.
                  </p>
                  <p>
                     A role in web development would give me exactly what I hope to achieve, which is further learning
                     and to become an expert in the field.
                  </p>
               </div>
               <div style="width: 40%;" class="d-flex justify-content-center align-items-center">
                  <p>image here maybe</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>