<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
      <a class="navbar-brand" href="/">Aaron Dalzell</a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
               Contents
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="#">intro?</a></li>
               <li><a class="dropdown-item" href="#">education?</a></li>
               <!-- <li><hr class="dropdown-divider"></li> -->
               <li><a class="dropdown-item" href="#">Skills</a></li>
            </ul>
         </li>
      </ul>
   </div>

</nav>
<p style="background-color: aqua;">nav area</p>