<div id="projects">
   <h1>
      projects
   </h1>
   <div class="d-flex flex-row proj">
      <div class="proj-image">
         <img class="mso-logo" src="../MissO_logo_WM.jpg" alt="Miss O'ccasion Logo">
      </div>
      <div class="proj-txt d-flex align-items-center">
         <div class="d-flex flex-column">
            <p>
               Miss O'ccasion was a project I began for a family friend. They had an idea for a start-up business which focused on
               creating gifts on special ocassions. Occasions such as birthdays, Mothers' Day, Fathers day etc. They have since moved 
               from continuing with the business idea so work on the website was not fully completed.
               <br>With their permission, I thought it would be important to include this an example of projects I've worked on.
            </p>
            <a href="/missoccasion">
               <button type="button" class="btn btn-success" style="width: fit-content;">View Website</button>
            </a>
         </div>
      </div>
   </div>
</div>