<!-- skills -->
<div id="skills">
   <h1>Skills</h1>
   <div id="skill-list">
      <div class="d-flex flex-row">
         <div class="skill-item">HTML</div>
         <div class="skill-item">CSS</div>
      </div>
      <div class="d-flex flex-row">
         <div class="skill-item">JavaScript</div>
         <div class="skill-item">Node.js</div>
      </div>
      <div class="d-flex flex-row">
         <div class="skill-item">Express</div>
         <div class="skill-item">Mongoose</div>
      </div>
      <div class="d-flex flex-row">
         <div class="skill-item">Mongodb</div>
         <div class="skill-item">mySql</div>
      </div>   
   </div>
</div>