<% layout("layout/boilerplate")%>

   <!-- title -->
   <div>
      <h1>Aaron Dalzell</h1>
      <h3>Website CV</h3>
   </div>
   <!-- Contact info -->
   <div>
      <h2>Contact Details</h2>
      <h3>Mobile: 07857283758</h3>
      <h3>Email: aarondalzell16@gmail.com</h3>
   </div>
   <!-- Profile/introduction -->
   <!-- this could also be split up into partials to help make the page look alot cleaner and easier to edit -->
   

   <!-- education -->
   

   <!-- Skills, use of design here -->
   
   
   <!-- info on level 4,5,6 from uni -->
   
   <!-- experience -->

   <!-- interests -->
