<% layout("layout/boilerplate")%>

   <!-- title -->
   <div >
      <img class="back-image" src="/link-bkgd.jpg" alt="">
   </div>
   <div class="container">
      <div class="profile-bk mt-2 p-3">
         <div class="d-flex flex-row">
            <div id="left-profile" class="d-flex flex-column">
               <img class="profile-pic" src="/grad-pic-head.JPG" alt="aaron dalzell">
               <div class="d-flex flex-row justify-content-evenly links">
                  <a href="https://www.linkedin.com/in/aaron-dalzell/" target="_blank">
                     <h3 class="bi bi-linkedin"></h3>
                  </a>
                  <a href="https://github.com/ADalzell10" target="_blank">
                     <h3 class="bi bi-github"></h3>
                  </a>
               </div>
   
            </div>
            <div id="right-profile" class="d-flex flex-column">
   
               <h1>Aaron Dalzell</h1>
               <h5 style="margin-bottom: 15px">BSc in Computer Science</h5>
   
               <div style="margin-bottom: 30px;">
                  <!-- see msoccasion for button -->
                  <a style="text-decoration: none;" href="\cv\AD_grad_cv.docx" target="_blank">
                     <button class="btn btn-primary">Download CV</button>
                  </a>
                  <a href="/contact">
                     <button class="btn btn-success">Contact</button>
                  </a>
               </div>
               <div>
                  <table class="table">
                     <thead>
                        <tr>
                           <th colspan="2">
                              <h4>Contact Information</h4>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <th>Phone</td>
                           <td>07857283758</td>
                        </tr>
                        <tr>
                           <th>Email</td>
                           <td>aarondalzell16@gmail.com</td>
                        </tr>
                        <tr>
                           <th>LinkedIn</td>
                           <td><a href="https://www.linkedin.com/in/aaron-dalzell/">Aaron Dalzell</a></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
   
         <!-- about info -->
      </div>
   
      <!-- Profile/introduction -->
   
      <%- partial("partials/intro")%>
   
      <!-- education -->
   
      <%- partial("partials/education")%>
   
      <!-- Skills, use of design here -->
   
      <%- partial("partials/skills")%>
   
   
      <!-- info on level 4,5,6 from uni -->
   
      <!-- experience -->
      <%- partial("partials/projects")%>
   
      <!-- interests -->
   </div>