.greybk{
   background-color: rgb(192, 191, 191);
   height: 400px;
   width: 80%;
   margin: 0 auto;
}

#left-profile{
   margin: 10px 25px;
}

#right-profile{
   /* background-color: red; */
   width: 100%;
   padding: 10px;
   margin-left: 20px;
}

img.profile-pic {
   width: 280px; 
   height: auto; 
   border-radius: 50%;
}

div.links {
   margin-top: 20px;
}

.links a {
   color: inherit;
}

/* INTRO */

p {
   line-height: 1.5;
   letter-spacing: 1.5px;
   font-size: 15px;
}

#intro {
   background-color: rgb(194, 181, 181);

}

/* EDUCATION */

/* #education{
   width: 80%;
   margin: 0 auto;
} */

.edu-box{
   width: 350px;
   /* padding: 10px 20px; */
   border-radius: 5px;
   background-color: cadetblue;
}